flask_whooshee==0.7.0
SQLAlchemy==1.2.15
pytrends==4.4.0
Flask_JWT_Extended==3.18.1
Flask_SQLAlchemy==2.3.2
polyglot==16.7.4
play_scraper==0.5.4
rauth==0.7.3
flask_optimize==0.2.9.8
sanic==18.12.0
Flask_Login==0.4.1
twitterscraper==0.9.3
Flask==0.12.2
requests==2.21.0
Flask_Migrate==2.1.1
feedparser==5.2.1
newspaper3k==0.2.8
alembic==1.0.0
Flask_Compress==1.4.0
nltk==3.3
Flask_RESTful==0.3.7
Werkzeug==0.14.1
Pillow==9.0.0
beautifulsoup4==4.7.1
vaderSentiment==3.2.1
flask-cors==3.0.7